@namespace MudBlazor
@inherits MudComponentBase

<div @attributes="UserAttributes" class="@Classname" style="@Style" aria-hidden="true">
    @* This empty div is used to create a line break in the flex display with help from class styles *@
</div>
